@define-color mybg rgba(0, 0, 0, 0.8);

.bar {
  font-weight: 600;
  font-family: Inter;
  background: @theme_bg_color;
}

window {
  font-size: 16px;
}

#battery {
  margin: 0 5px;
}

#battery > image {
  font-size: 2em;
  margin-left: 4px;
}

#network {
  margin: 0 5px;
}

#network image {
  font-size: 1.2em;
  margin-left: 4px;
}

#volume {
  margin: 0 5px;
}

#volume > image {
  font-size: 1.6em;
  margin-left: 4px;
}

label {
  padding-bottom: 2px; 
}

button {
  padding: 0;
  background: none;
  border: none;
}

menu * {
  padding: 0;
}

#tray > button {
  margin-left: 4px;
}

#workspaces > button {
  padding: 0 8px;
}

#workspaces > .active {
  background: @theme_selected_bg_color;
  color: black;
  /* font-weight: bold; */
}

.notifications .popup > box {
  padding: 6px;
  background: @mybg;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 2px @theme_selected_bg_color solid;
}

.notifications .popup > box > image {
  color: cyan; 
  font-size: 3em;
  border-radius: 10px;
}

.notifications .popup > box > box {
  min-width: 100px;
  margin-left: 4px;
}

.notifications .popup > box .title {
  font-weight: bold;
}

.osd .popup {
  background: @theme_bg_color;
  border-radius: 15px;
  padding: 10px;
  border: 2px @theme_selected_bg_color solid;
  margin: 2px;
}

.osd .popup image {
  font-size: 1.6em;
  margin-right: 4px;
}
