@theme "dmenu"

configuration {
    modes: [combi];
    combi-modes: [drun,run];

    display-drun: "app";
    display-run: "cli";
    display-window: "win";
    display-combi: "exec";

    combi-display-format: "<span foreground="gray" size="small">{mode}</span> {text}";
}

* {
    font: "JetBrains Mono Nerd Font 12";
}

window {
    location: south;
}

prompt {
    text-color: gray;
}

element selected {
    background-color: #157;
}
