$bar-back: rgb(0, 0, 0, 0.8);
$col1: rgb(0, 38, 87, 0.3);
$selected: rgb(0, 99, 75, 0.5);
$col2: cyan;
$col3: yellow;
$col4: red;

$rounding-outer: 12px;
$rounding-inner: 9px;

window.bar {
  background: unset;
}
.eww_bar {
  background: $bar-back;
  border-radius: $rounding-outer;
  padding: 3px;

  .top{
    background: $col1;
    border-radius: $rounding-inner;
    .workspaces {
      .workspace {
        min-height: 34px;
        // color: #aaa;
        border-radius: $rounding-inner;
        &.current {
          background: $selected;
        }
        // &.used {
          color: white;
        // }
      }
    }
  }

  .bottom {
    .wifi {
      background: unset;
      color: $col2;
      font-size: 30px;
      min-height: 34px;
      &.down {
        color: red;
      }
    }

    .time {
      background: $col1;
      border-radius: $rounding-inner;
      min-height: 45px;

      .hour {
        color: $col2;
      }

      .minute {
        color: $col3;
      }
    }

    .battery {
      font-size: 30px;
      color: $col2;
      &.charging {
        color: lime;
      }
    }

    .powermenu {
      button {
        border: unset;
        box-shadow: unset;
        border-radius: $rounding-inner;
        background: $col1;

        &.poweroff,
        &.lock {
          font-size: 20px;
        }

        &.poweroff {
          color: $col4;
        }

        &.sleep {
          font-weight: 900;
          font-size: 16px;
          color: $col2;
        }

        &.lock {
          color: $col3;
        }

        &.logout {
          color: $col3;
        }

        &.reboot {
          color: $col4;
        }
      }
    }
  }
}
