$bar-back: #1a1b26;
$col1: #12131d;

$rounding-outer: 12px;
$rounding-inner: 9px;

window.bar {
  background: unset;
}
.eww_bar {
  background: $bar-back;
  border-radius: $rounding-outer;
  padding: 3px;

  .top{
    background: $col1;
    border-radius: $rounding-inner;
    .workspaces {
      .workspace {
        &.current {
          border-radius: $rounding-inner;
          border: 2px solid #333;
        }
      }
    }
  }

  .middle{
  }

  .bottom{

    .battery {
      font-size: 30px;
    }

    .powermenu {
      button {
        all: unset;
        border-radius: $rounding-inner;
        background: $col1;
        min-height: 34px;
        // box-shadow: none;

        &.poweroff,
        &.sleep,
        &.lock {
          font-size: 20px;
        }
      }
    }
  }
}
