/* @import url(./styles/disapearingButtons.css); */
/* @import url(./styles/roundUiItems.css); */

/* Hide window close button */
.titlebar-button.titlebar-close {
  display: none !important;
}

#navigator-toolbox,
#browser {
  background: rgba(5, 14, 21, 0.8) !important;
}

#navigator-toolbox>* {
  background: none !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  background: rgba(200, 200, 200, 0.2) !important;
}

/* hide unnecesary buttons */
#back-button,
#forward-button,
#vertical-spacer {
  display: none !important;
}

/* reduce hight of extension sidebar headers */
#sidebar-header {
  padding: 0 6px 0 2px !important;
}

#TabsToolbar {
  margin-top: -2px !important;
  /* margin-top: -2px !important; */
}

:root #nav-bar {
  margin-top: -4px !important;
}

@media (min-width: 1100px) {
  :root {
    --navbarWidth: 500px;
  }

  #TabsToolbar {
    margin-left: var(--navbarWidth) !important;
  }

  #urlbar-container {
    min-width: 0px !important;
  }

  #nav-bar {
    margin-right: calc(100vw - var(--navbarWidth)) !important;
    margin-top: -36px !important;
  }
}

.titlebar-spacer {
  display: none !important;
}