/* @import url(./styles/disapearingButtons.css); */
/* @import url(./styles/roundUiItems.css); */

/* Hide window close button */
.titlebar-button.titlebar-close {
  display: none !important;
}

#sidebar-main,
#navigator-toolbox {
  background: rgba(5, 14, 21, 0.8) !important;
}

/* #tabbrowser-tabpanels>hbox {
  background: #eaeaea !important;
} */

#navigator-toolbox>* {
  background: none !important;
}

/* .tabbrowser-tab[selected="true"] .tab-background {
  background: rgba(200, 200, 200, 0.2) !important;
} */

/* hide unnecesary buttons */
#back-button,
#forward-button,
#vertical-spacer {
  display: none !important;
}

.sidebar-panel-header>h4 {
  margin: 0 !important;
}

/* #TabsToolbar {
  margin-top: -2px !important;
}

#nav-bar {
  margin-top: -4px !important;
}

@media (min-width: 1100px) {
  :root {
    --navbarWidth: 500px;
  }

  #TabsToolbar {
    margin-left: var(--navbarWidth) !important;
  }

  #urlbar-container {
    min-width: 0px !important;
  }

  #nav-bar {
    margin-right: calc(100vw - var(--navbarWidth)) !important;
    margin-top: -36px !important;
  }
} */

.titlebar-spacer {
  display: none !important;
}

#browser {
  background: transparent !important;
}

#tabs-newtab-button,
tab .tab-background {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.tools-and-extensions.actions-list moz-button {
  margin-left: -8px !important;
  margin-right: -8px !important;
}

tab .tab-content {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#sidebar-box {
  padding: 0 !important;
}

#sidebar {
  border-radius: 0 !important;
}

/* remove bottom border on container tabs */
hbox.tab-content::before {
  border: none !important;
}

/* add border around container tabs */
.tabbrowser-tab .tab-background {
  box-shadow: inset 0px 0px 0px 1px var(--identity-icon-color) !important;
}