@import url(./styles/disapearingButtons.css);
@import url(./styles/roundUiItems.css);

#sidebar-main {
  padding: 0 2px !important;
}

/* Hide window close button */
.titlebar-button.titlebar-close {
  display: none !important;
}


#navigator-toolbox,
#browser {
  background: rgba(5, 14, 21, 0.7) !important;
}

#tabbrowser-tabbox {
  border-top-left-radius: 8px !important;
  overflow: hidden !important;
}

#sidebar-tools-and-extensions-splitter {
  margin: 0 10px !important;

}

#tabbrowser-tabs {
  gap: 0 !important;
}

#sidebar-box {
  padding-bottom: 0 !important;
}

#sidebar {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* hide unnecesary buttons */
#back-button,
#forward-button,
#vertical-spacer {
  display: none !important;
}

/* reduce hight of extension sidebar headers */
.sidebar-panel-header h4 {
  margin: 0 !important;
}

/* transparent tree style tabs background for waterfox */
#tree-vertical-tabs-box {
  background: transparent !important;
}
