/* Hide window close button */
.titlebar-button.titlebar-close {
  display: none !important;
}

/* Background */
#sidebar-main,
#navigator-toolbox {
  background: rgba(5, 14, 21, 0.8) !important;
}

#navigator-toolbox>* {
  background: none !important;
}

/* */
#nav-bar {
  border: none !important;
}

#tabbrowser-arrowscrollbox {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}

#TabsToolbar>.titlebar-spacer {
  display: none !important;
}