@-moz-document url-prefix("moz-extension://9b9a5b8e-d95c-44c8-89cd-57edc5c6ffa3") {
  * {
    --browser-background: transparent !important;
    --tab-surface-active: rgba(50, 50, 50, 0.2);
  }

  tab-item {
    .background {
      border-radius: 30px !important;
    }

    tab-favicon {
      margin-top: 2px !important;
      margin-left: -8px !important;
    }

    tab-label {
      margin-top: 4px !important;
    }

    tab-twisty {
      opacity: 0 !important;
      padding-left: 10px !important;
    }
  }

  #pinned-tabs-container tab-item .background {
    background-color: rgba(50, 50, 100, 0.5) !important;
  }

  .newtab-button-box {
    transition: opacity 0.3s ease;
  }

  .sidebar:not(:hover) .newtab-button-box {
    opacity: 0 !important;
  }

  tab-item.discarded tab-item-substance {
    opacity: 0.6 !important;
  }
}