$bg: #212223;
$bga: #414243;
$accent: #2B82D3;
$radius: 12px;
$padd: 2px;
$size: 15px;

* {
  color: #f1f1f1;
  font-size: 16px;
}

.Bar {
  background: $bg;

  icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .icon {
    font-size: 22px;
    margin-right: 5px;
    /* margin-bottom: 2px; */
  }

  .status {
    margin: 0 8px;
  }

}

.battery.charging {
  /* label {
    color: $accent;
  } */

  .icon {
    color: $accent;
    margin-right: 10px;
  }
}

button {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
}

icon {
  font-size: 25px;
}

.workspaces {

  icon {
    margin-top: 2px;
    margin-left: 5px;
  }

  button {
    padding-right: 4px;
    padding-top: 3px;
    border-bottom: 3px solid $bg;
    font-weight: normal;

    label {
      margin-left: 8px;
      margin-right: 4px;
    }
  }

  button.exist {
    border-bottom: 3px solid $bga;
  }

  button.focused {
    /* background: $accent; */
    background: $bga;
    border-bottom: 3px solid $accent;
  }
}


.Notifications {
  eventbox {
    button {
      background: $bga;
      border-radius: $radius;
      margin: 0 $padd;
    }

    >box {
      margin: 4px;
      background: $bg;
      padding: $padd * 2 $padd;
      min-width: 300px;
      border-radius: $radius + $padd*2;
      border: 2px solid red;
    }

    .image {
      min-height: 48px;
      min-width: 48px;
      font-size: 48px;
      margin: 8px;
    }

    .main {
      padding-left: $padd *2;
      margin-bottom: $padd;

      .header {
        .summary {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }

  eventbox.critical>box {
    border-color: $accent;
  }
}

.clock .icon {
  margin-right: 5px;
  color: $accent;
}

.tray {
  margin-right: 2px;

  icon {
    font-size: 18px;
    margin: 0 4px;
  }
}

#launcher {
  background: none;

  .main {
    padding: $padd * 2;
    background: $bg;
    border-radius: $radius + $padd * 2;

    icon {
      margin: 0 $padd * 2;
    }

    .description {
      color: #bbb;
      font-size: 0.8em;
    }

    button:hover,
    button:focus {
      border: $padd solid $accent;
    }

    button {
      border: $padd solid $bga;
    }

    button,
    entry {
      border-radius: $radius;
      background: $bga;
      outline: none;
    }

    entry {
      padding: 2px 10px;
      margin-bottom: $padd * 4;
      border: none;
      min-height: $radius * 2;
      font-size: 1.3rem;
    }
  }
}

.Osd {
  box {
    background: $bg;
    border-radius: 24px;
    padding: 10px 12px;

    trough {
      padding: 0;
      margin: 8px;
      border-radius: 5px;

      block {
        border-radius: 5px;
        border: none;
      }

      block.filled {
        background: white;
      }
    }

    label {
      min-width: 40px;
    }
  }
}