@-moz-document url-prefix("chrome:") {

  /* hide some bar with window controlls and etc in single toolbar layout */
  #zen-appcontent-navbar-container[should-hide="true"] {
    display: none !important;
  }

  #zen-tabbox-wrapper {
    margin: 0 !important;
  }

  #vertical-pinned-tabs-container {
    .zen-workspace-tabs-section:not([active="true"]) {
      display: none !important;
    }


    @media (-moz-bool-pref: "custom.hide_pinned_reset") {

      tab .tab-reset-pin-button {
        display: none !important;
      }
    }

    .tab-reset-pin-button::after {
      width: 1px !important;
      height: 20px !important;
      transform: translateY(-50%) !important;
    }

    @media (-moz-bool-pref: "custom.hide_pinned_reset") {
      tab .tab-reset-button {
        display: none !important;
      }
    }

    tab .tab-close-button {
      display: none !important;
    }
  }

  #tabbrowser-tabpanels .browserSidebarContainer:not(.zen-glance-background) {
    border-radius: 0 !important;
  }

  .zen-glance-overlay {
    height: 95% !important;
    margin: auto;
  }

  /* #nav-bar { */
  /* padding-right: var(--zen-toolbox-padding) !important; */
  /* } */


  @media (-moz-bool-pref: "custom.hide_back_forward") {

    #back-button,
    #forward-button {
      display: none !important;
    }
  }


  @media (-moz-bool-pref: "custom.floating_sidebar") {
    /* based on https://github.com/ahmaadaziz/zen-floating-history */

    window.sidebar-panel {
      background-color: var(--zen-themed-toolbar-bg) !important;
    }

    search-textbox#search-box {
      appearance: none !important;
      background-color: var(--zen-colors-tertiary) !important;
      border: 1px solid var(--zen-colors-border) !important;
      padding: 0.5rem !important;
      border-radius: 5px !important;
    }

    search-textbox#search-box:hover {
      border: 1px solid var(--zen-colors-secondary) !important;
    }

    search-textbox#search-box:hover:active {
      border: 1px solid var(--zen-colors-secondary) !important;
    }

    button#viewButton {
      appearance: none;
      color: inherit;
      background-color: transparent !important;
      border-radius: var(--toolbarbutton-border-radius);
      border: 1px solid transparent !important;
    }

    button#viewButton:hover {
      background-color: var(--zen-colors-border) !important;
    }

    button#viewButton:hover:active {
      background-color: var(--zen-colors-border) !important;
    }

    #sidebar-box #sidebar-header {
      border-bottom: 0px !important;
    }

    #sidebar-box {
      background: var(--zen-main-browser-background) !important;
      backdrop-filter: blur(12px);
      border-radius: var(--zen-border-radius);
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid var(--zen-colors-border);
      padding: var(--zen-toolbox-padding) !important;
      position: fixed;
      z-index: 1;
      height: calc(100vh - var(--zen-element-separation)) !important;
      width: 20em !important;
      top: calc(var(--zen-element-separation) / 2) !important;
      right: calc(var(--zen-element-separation) / 2) !important;
      /* transform: translateX(105%); */
      transition: all 0.2s ease-in-out;
    }

    #sidebar-splitter {
      display: none !important;
    }

    /* #sidebar-box[hidden="true"] {
      display: flex !important;
      position: fixed;
      opacity: 0 !important;
      right: -100px !important;
      transform: translateX(105%);
    } */

    #sidebar-box[checked="true"] {
      transform: translateX(0);
    }

    /* #zen-main-app-wrapper[zen-compact-mode="true"] #navigator-toolbox {
    height: 80% !important;
    margin: auto 0 !important;
    } */
  }

  #titlebar {
    margin-top: 8px !important;
  }

  /* use with https://github.com/Uiniel/zen-mods/tree/main/sidebar-expand-on-hover */
  #navigator-toolbox:not([zen-has-hover],
    [movingtab],
    [flash-popup],
    [has-popup-menu],
    :has(.tabbrowser-tab:active),
    :has(toolbarbutton[open="true"]:not(#zen-sidepanel-button), #urlbar[open])) {
    padding-left: 2px !important;

    #PanelUI-menu-button {
      margin-left: 2px !important;
    }
  }

  /* use with https://github.com/Uiniel/zen-mods/tree/main/sidebar-expand-on-hover */
  #navigator-toolbox {
    margin-right: -6px !important;
  }


  /* fix context menu icons */
  #contentAreaContextMenu>*>.menu-iconic-left {
    padding: 0 0 0 4px !important;
    margin: 0 !important;
  }

  #ublock0_raymondhill_net-menuitem-_uBlock0-blockElement .menu-iconic-left {
    margin-left: 0.5px !important;
  }
}