@import url("autohideBar.css");

:root {
  --toolbar-bgcolor: rgb(50, 50, 70) !important;
}

#urlbar-background {
  border-radius: 16px !important;
  background: rgb(40, 40, 60) !important;
}

#identity-icon-box{
  border-radius: 16px !important;
}

/* hide siede bar title and top buttons */
#sidebar-header {
  display: none;
}

/* hide bar allowing to resize sidebar */
#sidebar-splitter {
  display: none;
}

/* disable tab bar */
#TabsToolbar {
  display: none;
}
