@-moz-document domain("synergia.librus.pl") { 
  .librusPro_grades-table > tbody > tr:hover {
    background: #ddd !important;
  }
}

@-moz-document url("https://synergia.librus.pl/przegladaj_plan_lekcji") { 
  #page {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .plan-lekcji .line0 {
    display: none;
  }
  div.text {
    text-wrap: wrap;
  }
  div.text > b {
    text-wrap: nowrap;
  }
}
