input {
    keyboard {
        xkb {
            layout "pl"
            options "caps:escape,altwin:swap_lalt_lwin"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
    }

    mouse {
        accel-profile "flat"
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="30%"
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}

output "DP-1" {
    mode "3440x1440@239.984"
}

layout {
    gaps 8
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 3
        active-gradient from="#7fc8ff" to="#449922"
    }

    border {
        off
    }

    tab-indicator {
        width 6
        gap 0
        active-color "#fac873"
        length total-proportion=0.98
        place-within-column
        gaps-between-tabs 8
        corner-radius 3
    }
}

window-rule {
    match app-id="waterfox"
    match app-id="firefox"
    draw-border-with-background false
}

layer-rule {
    match namespace="wofi"
    baba-is-float true
}

layer-rule {
    match namespace="waybar"
    place-within-backdrop true
}

hotkey-overlay {
    skip-at-startup
}

// AUTOSTART
spawn-at-startup "swww-daemon"
spawn-at-startup "hypridle"
spawn-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
// spawn-at-startup "xwayland-satellite"
spawn-at-startup "mako" "-c" ".config/mako/niri.config"
spawn-at-startup "swayosd-server"
spawn-at-startup "waybar"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

environment {
    EDITOR "helix"
    DISPLAY ":0"
    _JAVA_AWT_WM_NONREPARENTING "1"
    PAGER "bat"
    GTK_USE_PORTAL "1"
    QT_QPA_PLATFORMTHEME "qt5ct"
}

binds {
    Mod+X       { spawn "foot"; }
    Mod+B       { spawn "firefox"; }
    Mod+R       { spawn "wofi" "--show" "drun"; }
    Mod+Shift+R { spawn "wofi" "--show" "run"; }
    Mod+E       { spawn "pcmanfm-qt" "-style" "kvantum"; }

    XF86AudioLowerVolume  allow-when-locked=true { spawn "swayosd-client" "--output-volume" "-2"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "swayosd-client" "--output-volume" "+2"; }
    XF86AudioMute         allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }
    XF86MonBrightnessDown     allow-when-locked=true { spawn "swayosd-client" "--brightness" "-5"; }
    XF86MonBrightnessUp       allow-when-locked=true { spawn "swayosd-client" "--brightness" "+5"; }
    Mod+XF86MonBrightnessDown allow-when-locked=true { spawn "swayosd-client" "--brightness" "35"; }
    Mod+XF86MonBrightnessUp   allow-when-locked=true { spawn "swayosd-client" "--brightness" "70"; }

    Mod+Shift+Q { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Ctrl+H { switch-preset-column-width-back; }
    Mod+Ctrl+L { switch-preset-column-width; }

    Mod+A { focus-column-left; }
    Mod+S { focus-window-down; }
    Mod+W { focus-window-up; }
    Mod+D { focus-column-right; }

    Mod+Shift+A { move-column-left; }
    Mod+Shift+S { move-window-down; }
    Mod+Shift+W { move-window-up; }
    Mod+Shift+D { move-column-right; }

    Mod+Ctrl+A { switch-preset-column-width-back; }
    Mod+Ctrl+D { switch-preset-column-width; }
    Mod+Ctrl+W { focus-workspace-up; }
    Mod+Ctrl+S { focus-workspace-down; }

    Mod+N       { consume-or-expel-window-left; }
    Mod+M       { consume-or-expel-window-right; }
    Mod+Shift+N { consume-window-into-column; }
    Mod+Shift+M { expel-window-from-column; }

    Mod+G { toggle-column-tabbed-display; }
    
    Mod+Home       { focus-column-first; }
    Mod+End        { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+shift+End  { move-column-to-last; }

    Mod+I       { focus-workspace-down; }
    Mod+U       { focus-workspace-up; }
    Mod+Shift+I { move-workspace-down; }
    Mod+Shift+U { move-workspace-up; }
    Mod+Ctrl+I  { move-column-to-workspace-down; }
    Mod+Ctrl+U  { move-column-to-workspace-up; }
    Mod+Alt+I   { move-workspace-down; }
    Mod+Alt+U   { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollUp   { focus-column-right; }
    Mod+Shift+WheelScrollDown { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Tab { toggle-overview; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 10; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C       { center-column; }
    Mod+T       { toggle-window-floating; }

    Mod+Ctrl+F      { reset-window-height; }

    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    Mod+Shift+Backspace { quit; }

    Mod+Shift+Escape { spawn "loginctl" "lock-session"; }
    Mod+Shift+P      { power-off-monitors; }
}
